<div class="main-holder row">
    <div class="col-12 navigation-bar-top">
        <div class="row">
            <div class="logo col-6 d-flex align-items-center">
                <div><fa-icon [icon]="faKey" class="navigation-bar-icon"></fa-icon>Public Key Infrastructure</div>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-end" style="padding-right: 0px !important;">
                <div class="logout navigation-bar-top-button" (click)="logout()"><fa-icon [icon]="faDoorOpen" class="navigation-bar-icon"></fa-icon> Logout</div>
            </div>
        </div>
    </div>
    <div class="navigation-bar col-md-3">
        <div class="navigation-info">
            Information
        </div>
        <div class="navigation-item" [ngClass]="{'selected' : getUrl() == '' || getUrl() == 'home'}" 
        routerLink="/home">
            <fa-icon [icon]="faHome" class="navigation-icon"></fa-icon> Home
        </div>

        <div class="delimiter"></div>
    
        <div class="navigation-info">
            Manage
        </div>
        <div class="navigation-item" [ngClass]="{'selected' : getUrl() == 'new-certificate'}" routerLink="/new-certificate">
            <fa-icon [icon]="faPlus" class="navigation-icon"></fa-icon> New Certificate
        </div>

        <div class="navigation-item" [ngClass]="{'selected' : getUrl() == 'issued-certificates'}" routerLink="/issued-certificates/user-certificates/all">
            <fa-icon [icon]="faFile" class="navigation-icon"></fa-icon> Issued Certificates
        </div>
        
    </div>

    <div class="main-content col-md-9">
        <router-outlet></router-outlet>
        
    </div>

</div>

<!-- Toaster used to display messages -->
<div class="card text-white bg-dark mb-3" id="toaster">
    <div class="card-header" id="toaster-header"></div>
    <div class="card-body">
      <p class="card-text" id="toaster-message">
      </p>
    </div>
</div>

<div (click)="closeDialog()" class="teaser" [ngClass]="{'activated': activated}"></div>
<div class="revoke-dialog-component" app-revoke-dialog></div>