<div class="row">
    <table class="certificates-table">
        <tr class="certificate-row header">
            <td>Common Name</td>
            <td>Valid From</td>
            <td>Valid Until</td>
            <td colspan="4" *ngIf="!isRevoked">Action</td>
            <td colspan="1" *ngIf="isRevoked">Revoke Reason</td>
            <td colspan="3" *ngIf="isRevoked">Action</td>
        </tr>
        <tr *ngIf="data.length == 0">
            <td colspan="7" class="nothing-to-display">Currently nothing to display</td>
        </tr>
        <tr *ngFor="let item of data; let i = index" class="certificate-row-data">
            <td colspan="7">
                <div class="row data-division" [ngClass]="{'hovered' : elStatus[i].isHovered || elStatus[i].isSelected}" (mouseenter)="mouseEnter($event, i)" (mouseleave)="mouseLeave($event, i)">
                    <div class="col-12" style="padding: 0px !important;">
                        <table class="certificates-table-inner">
                            <tr class="certificate-row-inner not-selected">
                                <td>{{item.commonName}}</td>
                                <td>{{item.validFrom}}</td>
                                <td>{{item.validUntil}}</td>
                                <td *ngIf="!isRevoked" (click)="initRevokeDialog(item, i)" class="revoke-action">Revoke</td>
                                <td *ngIf="isRevoked">{{item.revocation.revokeReason}}</td>
                                <td class="revoke-action" (click)="downloadCertificateHEAD(item)">HEAD</td>
                                <td class="revoke-action" (click)="downloadCertificateCHAIN(item)">CHAIN</td>
                                <td class="revoke-action" (click)="downloadCertificatePkcs12(item)">PKCS12</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-12 more-info-division not-selected" style="padding: 0px !important;">
                        <div class="row col-12 main-data scroll" style="padding: 0px !important;" [ngClass]="{'selected' : elStatus[i].isSelected}">
                            <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ $implicit: item, elStatus: elStatus[i] }"></ng-container>
                        </div>
                        <div (click)="moreOrLessInformation($event, i)" class="more-information-indicator d-flex align-items-center justify-content-center" [ngClass]="{'hovered' : elStatus[i].isHovered || elStatus[i].isSelected}">
                            <div *ngIf="!elStatus[i].isSelected">More Information <fa-icon [icon]="faArrowDown" class="navigation-icon" style="font-size: 11px;"></fa-icon></div>
                            <div *ngIf="elStatus[i].isSelected">Less Information <fa-icon [icon]="faArrowUp" class="navigation-icon" style="font-size: 11px;"></fa-icon></div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>


<ng-template #recursiveListTmpl let-item let-elStatus="elStatus">
    <div class="main-data-table-holder col-6 d-flex justify-content-center align-items-center">
        <table class="main-data-table">
            <tr>
                <td>ID: </td>
                <td>{{item.id}}</td>
            </tr>
            <tr>
                <td>Serial Number: </td>
                <td>{{item.serialNumber}}</td>
            </tr>
            <tr>
                <td>Common Name: </td>
                <td>{{item.commonName}}</td>
            </tr>
            <tr>
                <td>Given Name: </td>
                <td>{{item.givenName}}</td>
            </tr>
            <tr>
                <td>Organisation: </td>
                <td>{{item.organisation}}</td>
            </tr>
            <tr>
                <td>Organisation Unit: </td>
                <td>{{item.organisationUnit}}</td>
            </tr>
            <tr>
                <td>State Name: </td>
                <td>{{item.state}}</td>
            </tr>
            
        </table>
    </div>
    <div class="main-data-table-holder col-6 d-flex justify-content-center align-items-center">
        <table class="main-data-table">
            <tr>
                <td>Locality Name: </td>
                <td>{{item.locality}}</td>
            </tr>
            <tr>
                <td>Country: </td>
                <td>{{item.country}}</td>
            </tr>
            <tr>
                <td>Email: </td>
                <td>{{item.email}}</td>
            </tr>
            <tr>
                <td>Surname: </td>
                <td>{{item.surname}}</td>
            </tr>
            <tr>
                <td>Domain Component: </td>
                <td>{{item.domainComponent}}</td>
            </tr>
            <tr>
                <td>Valid From: </td>
                <td>{{item.validFrom}}</td>
            </tr>
            <tr>
                <td>Valid Until: </td>
                <td>{{item.validUntil}}</td>
            </tr>
            <tr *ngIf="item.revocation">
                <td>Status: </td>
                <td>REVOKED</td>
            </tr>
            <tr *ngIf="item.revocation">
                <td>Revocation Reason: </td>
                <td>{{item.revocation.revokeReason}}</td>
            </tr>
            <tr *ngIf="item.revocation">
                <td>Revocation Date: </td>
                <td>{{item.revocation.revocationDate}}</td>
            </tr>
        </table>
    </div>
    <div class="col-12 p-0" *ngIf="item.extensionDtoList && elStatus">
        <div class="extensions-header" (click)="toggleExtensions(elStatus)">
            Extensions: <fa-icon *ngIf="!elStatus.extensionsSelected" [icon]="faArrowDown" class="navigation-icon" style="font-size: 11px;"></fa-icon><fa-icon *ngIf="elStatus.extensionsSelected" [icon]="faArrowUp" class="navigation-icon" style="font-size: 11px;"></fa-icon>
        </div>
        <div class="extension-information d-flex justify-content-center" [ngClass]="{'selected' : elStatus.extensionsSelected}">
            <table class="extension-table">
                <tr *ngFor="let extension of item.extensionDtoList; let i = index">
                    <td class="extension-name" valign="top">{{extension.name}}:</td>
                    <td>
                        <div *ngFor="let attr of extension.attributes">{{attr}}</div>
                    </td>
                </tr>
            </table>
            
        </div>
    </div>
    <div *ngIf="item.issuer" class="row col-12 main-data" style="padding: 0px !important;" [ngClass]="{'selected' : elStatus.issuerStatus.isSelected}">
        <div class="col-12 issuer">Issuer: {{item.issuer.serialNumber}} ({{item.issuer.id}}) for {{item.serialNumber}} ({{item.id}})</div>
        <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ $implicit: item.issuer,  elStatus: elStatus.issuerStatus }"></ng-container>
    </div>
    <div *ngIf="item.issuer" (click)="moreOrLessIssuerInformation($event, elStatus.issuerStatus)" class="row more-information-indicator issuer-information d-flex align-items-center justify-content-center hovered">
        <div *ngIf="!elStatus.issuerStatus.isSelected">More Issuer Information <fa-icon [icon]="faArrowDown" class="navigation-icon" style="font-size: 11px;"></fa-icon></div>
        <div *ngIf="elStatus.issuerStatus.isSelected">Less Issuer Information <fa-icon [icon]="faArrowUp" class="navigation-icon" style="font-size: 11px;"></fa-icon></div>
    </div>
    
</ng-template>