.certificates-table {
    width: 100%;
    font-size: 14px;
    table-layout: fixed;
}

.certificates-table .certificate-row  {
    letter-spacing: 1px;
    border-bottom: 2px solid white;
}

.certificates-table .certificate-row td {
    padding: 20px;
    text-align: center;
}

.certificates-table .certificate-row.header {
    font-weight: 600;
    background: #363c42;
    color: white;
    
}

.certificate-row-data > td {
    padding: 0px !important;
}

.certificates-table-inner {
    width: 100%;
    font-size: 14px;
    table-layout: fixed;
}

.certificates-table-inner .certificate-row-inner td {
    padding: 20px;
    text-align: center;
}

.certificate-row-data .data-division {
    background: white;
    color: black;
    padding: 0px !important;
    margin: 0px !important;
    font-weight: normal;
    letter-spacing: 1px;
    transition: .3s;
}

.certificate-row-data .data-division.hovered {
    background: #3e4349;
    color: white;
}

.more-info-division {
    overflow: hidden;
}

.more-information-indicator {
    height: 0px;
    overflow: hidden;
    text-align: center;
    background: #33383d;
    transition: height .3s;
    width: 100%;
    margin: 0 !important;
}

.more-information-indicator.hovered {
    height: 45px;
    cursor: pointer;
}

.more-information-indicator.hovered:hover {
    background: #2e3338;
}

.more-information-indicator.issuer-information {
    color: white;
    border-bottom: 1px solid gray;
}

.main-data {
    height: 0px;
    overflow: hidden;
    background: rgb(240, 240, 240);
    color: black;
    margin: 0 !important;
}

.main-data.selected {
    height: auto;
}

.main-data.selected > .main-data-table-holder {
    padding: 20px 0px;
}

.main-data .main-data-table-holder {
    transition: .3s;
    padding: 0px 0px;
}

.main-data.selected.scroll {
    overflow-y: auto;
}

.main-data-table {
    width: 400px;
}

.main-data-table td {
    padding: 3px 10px;
}

.revoke-action {
    background: rgba(0, 0, 0, 0.05);
    font-weight: 600;
    cursor: pointer;
}

.revoke-action:hover {
    background: rgba(0, 0, 0, 0.4);
}

.nothing-to-display {
    text-align: center;
    height: 60px;
    background: rgb(240, 240, 240);
}

.main-data .extensions-header {
    padding: 20px 40px;
    background: #d3d7db;
    color: black;
    font-weight: 600;
    cursor: pointer;
}

.main-data .extensions-header:hover {
    background: #c3c8cc;
}

.main-data .issuer {
    padding: 20px 40px;
    background: #353b42;
    color: white;
}

.extension-information {
    padding: 0px;
    background: #e7eaee;
    overflow: hidden;
    height: 0;
    transition: padding .3s;
}

.extension-information.selected {
    height: auto;
    padding: 20px;
}

.extension-information .extension-table td {
    padding: 5px 20px;
}

.extension-information .extension-name {
    font-weight: 600;
}