.certificates-navigation-bar {
    color: white;
    letter-spacing: 1px;
    font-size: 13px;
}

.certificates-navigation-bar .tab {
    background: #31373d;
    height: 60px;
    cursor: pointer;
    outline: none;
    transition: .3s;
    border-bottom: 1px solid rgb(128, 128, 128);
}

.certificates-navigation-bar .tab:hover {
    background: rgb(228, 228, 228);
    color: black;
}

.certificates-navigation-bar .selected {
    background: white;
    color: black;
}