<div class="row certificates-navigation-bar">
    <div class="col-6 tab d-flex justify-content-center align-items-center" [ngClass]="{'selected' : getUrl() == 'all'}" routerLink="/issued-certificates/CA-certificates/all">
        <div>All</div>
    </div>
    <div class="col-6 tab d-flex justify-content-center align-items-center" [ngClass]="{'selected' : getUrl() == 'revoked'}" routerLink="/issued-certificates/CA-certificates/revoked">
        <div>Revoked</div>
    </div>
</div>

<router-outlet></router-outlet>