<div class="revoke-dialog-component" [ngClass]="{'activated' : activated}"> 
    <div class="header p-4">Certificate Revocation</div>
    <div class="separator pl-4">
        <div></div>
    </div>
    <div class="pl-4 pr-4 pt-4">Revocation reason:</div>
    <div class="pl-4 pr-4 pt-2 pb-2">
        <select [(ngModel)]="selectedValue" [disabled]="revoked" class="revocation-reason-select">
            <option value="0">Unspecified</option>
            <option value="1">Key Compromised</option>
            <option value="2">CA Compromised</option>
            <option value="3">Privilege Withdrawn</option>
        </select>
    </div>
    <div *ngIf="!revoking && !revoked" class="pl-4 pr-4 pt-2 pb-4">
        <div class="revoke-button" (click)="revoke(data)">Revoke</div>
    </div>
    <div *ngIf="revoking && !revoked" class="d-flex justify-content-center align-items-center pl-4 pr-4 pt-2 pb-4">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div *ngIf="revoked" class="pl-4 pr-4 pt-2 pb-4">
        <div class="revoked-information">Certificate {{data.serialNumber}} is successfully revoked!</div>
    </div>
    <div class="separator pl-4">
        <div></div>
    </div>
    <div class="sub-header p-4">Certificate Information</div>
    <div class="separator pl-4">
        <div></div>
    </div>

    <div class="information-holder p-4" *ngIf="data">
        <table>
            <tr>
                <td>Serial Number:</td>
                <td>{{data.serialNumber}}</td>
            </tr>
            <tr>
                <td>ID:</td>
                <td>{{data.id}}</td>
            </tr>
            <tr>
                <td>Common Name:</td>
                <td>{{data.commonName}}</td>
            </tr>
            <tr>
                <td>Given Name:</td>
                <td>{{data.givenName}}</td>
            </tr>
            <tr>
                <td>Surname:</td>
                <td>{{data.surname}}</td>
            </tr>
            <tr>
                <td>Organisation:</td>
                <td>{{data.organisation}}</td>
            </tr>
            <tr>
                <td>Organisation Unit:</td>
                <td>{{data.organisationUnit}}</td>
            </tr>
            <tr>
                <td>Country:</td>
                <td>{{data.country}}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{data.email}}</td>
            </tr>
            <tr>
                <td>Valid From:</td>
                <td>{{data.validFrom}}</td>
            </tr>
            <tr>
                <td>Valid Until:</td>
                <td>{{data.validUntil}}</td>
            </tr>
            

        </table>
    </div>
</div>

