@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@ng-select/ng-select/themes/default.theme.css";

@font-face {
    font-family: Montserrat;
    src: url("assets/fonts/OpenSans-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: Montserrat;
    src: url("assets/fonts/OpenSans-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Montserrat;
    src: url("assets/fonts/OpenSans-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: Montserrat;
    src: url("assets/fonts/OpenSans-Bold.ttf");
    font-weight: 700;
}

body {
    font-family: Montserrat;
    font-weight: normal;
    margin: 0;
    background: black;
    color: white;
    font-size: 13px;
}

.simple-button {
    padding: 10px 25px;
    background: black;
    color: white;
    box-shadow: 0px 0px 0px 0px black;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    transition: .3s;
}

.simple-button:hover {
    background: white;
    color: black;
    box-shadow: 0px 0px 10px 0px black;
}

.hide-file-input {
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.error-message {
    position: relative;
    font-size: 15px;
    color: red;
    left: 1ex;
}

.heading {
    text-align: center;
    margin-bottom: 2ex;
}

.last-row-no-data {
    background: rgb(214, 214, 214);
}

.h-header {
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 50px;
}

.t-table {
    position: relative;
    margin-top: 45px;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
}

.t-table button {
    background: black;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    font-family: Montserrat;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .3s;
}

.t-table button:hover {
    background: white;
    color: black;
    box-shadow: 0px 0px 15px 0px black;
}

.t-table tr:first-child {
    background: black;
    color: white;
}

.t-table td {
    padding: 15px 10px;
}

.disabled-button {
    opacity: .3;
    pointer-events: none;
}

.published-status {
    color: rgb(32, 90, 34);
    font-weight: 700;
}

.reviewed-status {
    color: rgb(28, 87, 97);
    font-weight: 700;
}

.rejected-status {
    color: rgb(97, 28, 28);
    font-weight: 700;
}

.accepted-request {
    color: rgb(32, 90, 34);
    font-weight: 700;
}

.declined-request {
    color: rgb(90, 32, 32);
    font-weight: 700;
}

.input-icon {
    position: absolute;
    right: 15px;
    font-size: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.tooltip > .tooltip-inner {
    border-radius: 0px;
    font-size: 12px;
    border: 1px solid black;
    background-color: white !important;
    color: black !important;
}

.date-holder {
    position: absolute;
    top: 90px;
    left: 0px;
    background-color: #22282e;
    color: white;
    width: 400px;
    z-index: 99;
    padding: 8px;
}

.date-holder .col.dl-abdtp-date-button.dl-abdtp-day {
    color: white !important;
}

.date-holder .col.dl-abdtp-date-button.dl-abdtp-day.dl-abdtp-active.dl-abdtp-selected {
    background: rgb(0, 156, 156) !important;
}

.date-holder .col.dl-abdtp-date-button.dl-abdtp-day.dl-abdtp-past.dl-abdtp-disabled.aria-disabled {
    color: gray !important;
}

.date-holder .col.dl-abdtp-date-button.dl-abdtp-day.dl-abdtp-disabled.aria-disabled {
    color: gray !important;
}

.date-holder .col.dl-abdtp-date-button.dl-abdtp-day.dl-abdtp-active.dl-abdtp-selected.dl-abdtp-now.dl-abdtp-disabled.aria-disabled {
    color: white !important;
}

.date-holder .col.dl-abdtp-date-button.dl-abdtp-day.dl-abdtp-future {
    color: gray !important;
}

.date-holder .col-10.dl-abdtp-view-label {
    color: rgb(54, 224, 224) !important;
    cursor: default !important;
    padding: 20px;
}