
<div class="text-center" *ngIf="waitingForRequest">
    <div class="spinner-border" style="color: white;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

<div class="no-rule-display" *ngIf="rules.length == 0 && !waitingForRequest">
    <h4> No rules have been added</h4>
</div>

<div *ngFor="let rule of rules" class="row rule-holder">
    <h4> {{ rule.ruleName }} </h4>
    <div class="separator"> </div>
    <div class="rule"> {{ rule.ruleContent }}</div>
</div>
