
.rule-holder {
    white-space:pre-wrap;
    margin-bottom: 2ex;
    color: white;
}

.no-rule-display {
    text-align: center;
    color: white;
}

.separator {
    position: relative;
    width: 100%;
    height: 2ex;
    background-color: lightgray;
}

.rule {
    position: relative;
    margin-top: 4ex;
    width: 80%;
    left: 10%;
}